# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt

# Databases
database.db
database.db-journal

# Environment variables
.env

# Project specific
alex_workspace/
!alex_workspace/.gitkeep
alex_reading/
!alex_reading/.gitkeep
